<body>
    <div class="background-device-page">
        
        <div class="container">
            <div class="device_adding_icon">
                <button mat-flat-button (click)="addingRequest()" id="timer">
                    <mat-icon id="element1">add_box</mat-icon>
                    <div *ngIf="stopSign==false" id="element2"> thêm thiết bị ({{display}})</div>
                    <div *ngIf="stopSign==true" id="element2">thêm thiết bị (3:00)</div>
                    <!-- <h1>{{timerCouting}}</h1> -->
                </button>
            </div>
            <div class="row">
                <!-- <div class="col d-flex " *ngFor="let device of devices; let i=index"> -->
                <div class="col d-flex" *ngFor="let device of devicesData; let i = index">
                    <div class="box">
                        <!-- <div *ngIf="device.type === 'normal-light'"> -->
                        <div *ngIf="device == '1'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1> -->
                                <!-- <h4>{{device.deviceId}}</h4> -->
                                <h1>device.ot_nickname</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Trạng thái: Đang bật</h2> -->
                                <!-- <ng-template #elseStateDevice><h2 class="row d-flex">Trạng thái: Đang tắt</h2></ng-template> -->
                                <!-- <h2 class="row d-flex">Độ sáng: {{device.brightness}}</h2> -->
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <h2 class="row d-flex">Độ sáng: "device.brightness"</h2>
                            </div>
                        </div>

                        <!-- <div *ngIf="device.type === 'switch'"> -->
                        <div *ngIf="device == '2'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>device.ot_nickname</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <!--  -->
                                <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice><h2 class="row d-flex">Trạng thái: Đang tắt</h2></ng-template>

                                <h2 class="row d-flex" *ngIf="device.switch_type==='light'; else elseSwitchType_1">Sử dụng cho: Đèn</h2> -->
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <h2 class="row d-flex" *ngIf="1; else elseSwitchType_1">Sử dụng cho: Đèn</h2>
                                <!--  -->
                                <ng-template #elseSwitchType_1>
                                    <h2 class="row d-flex" *ngIf="device.switch_type==='fan'; else elseSwitchType_2">Sử
                                        dụng cho: Quạt</h2>
                                    <ng-template #elseSwitchType_2>
                                        <h2 class="row d-flex">Sử dụng: Thiết bị khác</h2>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>

                        <!-- <div *ngIf="device.type === 'sensor-th'"> -->
                        <div *ngIf="device.topic === '0x00124b00234c8c58'">
                            <div class="tag-header">
                                <h1>sensor-th</h1>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <h2 class="row d-flex">Pin: {{device.battery}}%</h2>
                                <h2 class="row d-flex">Cường độ tín hiệu: {{device.linkquality}}</h2>
                                <h2 class="row d-flex">Nhiệt độ: {{device.temperature}}&ordm;C</h2>
                                <h2 class="row d-flex">Độ ẩm: {{device.humidity}}%</h2>
                            </div>
                        </div>

                        <!-- <div *ngIf="device.type === 'color-light'"> -->
                        <div *ngIf="device.topic === '0x00124b00234c9228'">
                            <div class="tag-header">
                                <h1>color-light</h1>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <h2 class="row d-flex" *ngIf="device.state === 'ON'; else elseStateDevice">Trạng thái:
                                    Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex ">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <h2 class="row d-flex">Cường độ tín hiệu: {{device.linkquality}}</h2>
                                <h2 class="row d-flex">Độ sáng: {{device.brightness}}%</h2>
                                <h2 class="row d-flex" class="color-state">Màu đèn:
                                    <div class="color-state-box" [ngStyle]="{'background-color': device.hex}">
                                        {{device.hex}}</div>
                                </h2>
                                <h2 class="row d-flex" *ngIf="device.power_on_behavior === 'previous'">Hành vi bật
                                    nguồn: khôi phục</h2>
                                <h2 class="row d-flex" *ngIf="device.power_on_behavior === 'ON'">Hành vi bật nguồn: bật
                                    đèn</h2>
                                <h2 class="row d-flex" *ngIf="device.power_on_behavior === 'OFF'">Hành vi bật nguồn: tắt
                                    đèn</h2>
                            </div>
                        </div>
                        <!-- <div *ngIf="device.type === 'fan'"> -->
                        <div *ngIf="device == '5'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>device.ot_nickname</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice><h2 class="row d-flex">Trạng thái: Đang tắt</h2></ng-template>
                                <h2 class="row d-flex">Mức độ: {{ device.fanspeed }}</h2> -->
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <h2 class="row d-flex">Mức độ:device.fanspeed</h2>
                            </div>
                        </div>
                        <!-- <div *ngIf="device.type === 'lock'"> -->
                        <div *ngIf="device == '6'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>device.ot_nickname</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Trạng thái: Đang khóa</h2> -->
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang khóa</h2>

                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex">Trạng thái: Đang mở</h2>
                                </ng-template>
                            </div>
                        </div>
                        <!-- <div *ngIf="device.type === 'smart-plug'"> -->
                        <div *ngIf="device == '7'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>smart-plug</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex ">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <!-- <h2 class="row d-flex">Đếm ngược: </h2> -->
                                <h2 class="row d-flex">Lịch trình bật: </h2>
                                <h2 class="row d-flex">Lịch trình tắt: </h2>
                            </div>
                        </div>
                        <!-- <div *ngIf="device.type === 'smart-door-sensor'"> -->
                        <div *ngIf="device == '8'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>smart-door-sensor</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex ">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái cửa: Đang mở</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex ">Trạng thái cửa: Đang đóng</h2>
                                </ng-template>
                                <h2 class="row d-flex">Lịch trình bật: </h2>
                                <h2 class="row d-flex">Lịch trình tắt: </h2>
                            </div>
                        </div>
                        <div *ngIf="device.topic === 'device_adding_icon'" class="device_adding_icon">
                            <div class="tag-header">
                                <h1>Add new device</h1>
                            </div>
                            <hr>
                            <br><br>
                            <div class="tag-content" style="text-align: center; height: 100%;">
                                <button mat-flat-button (click)="addingRequest()">
                                    <mat-icon style="scale: 1.5;">add_box</mat-icon>
                                </button>
                            </div>
                            <h1 *ngIf="timerCouting==true">{{display}}</h1>
                            <h1>{{timerCouting}}</h1>
                        </div>

                        <div class="dieukhienBotton" *ngIf="device.topic != 'device_adding_icon'">
                            <!-- share, edit, del button -->
                            <div>
                                <!-- <button *ngIf="ownerships[i] !== 'guest'; else elseBtnShare" class="btn btn-outline-dark" type="button" (click)="openDialogShareEdit(device, 'share')"> -->
                                <button *ngIf="1; else elseBtnShare" class="btn btn-outline-dark"
                                    (click)="openDialogShareEdit(device, 'share')">
                                    <mat-icon>share</mat-icon>
                                </button>
                                <ng-template #elseBtnShare>
                                    <button class="btn btn-outline-dark" disabled>
                                        <mat-icon>share</mat-icon>
                                    </button>
                                </ng-template>

                                <!-- <button *ngIf="ownerships[i] !=='guest'; else elseBtnEdit" class="btn btn-outline-dark" (click)="openDialogShareEdit(device, 'edit')"><mat-icon>edit</mat-icon></button> -->
                                <button *ngIf="1; else elseBtnEdit" class="btn btn-outline-dark"
                                    (click)="openDialogShareEdit(device, 'edit')">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <ng-template #elseBtnEdit>
                                    <button class="btn btn-outline-dark" disabled>
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                </ng-template>

                                <!-- <button *ngIf="ownerships[i] !=='guest'; else elseBtnDelete" class="btn btn-outline-dark" (click)="handleDevice(device)" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteDevice"><mat-icon>delete</mat-icon></button> -->
                                <button *ngIf="1; else elseBtnDelete" class="btn btn-outline-dark"
                                    (click)="handleDevice(device)" data-bs-toggle="modal"
                                    data-bs-target="#exampleModalDeleteDevice">
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <ng-template #elseBtnDelete>
                                    <button class="btn btn-outline-dark" disabled>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </ng-template>


                                <!-- Modal, confirm delete -->
                                <div class="modal fade" id="exampleModalDeleteDevice" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa thiết bị
                                                    này không ?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h2>Loại thiết bị: <span
                                                        style="color: brown;">{{deviceAction.topic}}</span></h2>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="requestDeleteDevice()" data-bs-dismiss="modal">Có, hãy
                                                    xóa</button>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Hủy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- control button-->
                            <button id="dieukhienBotton" mat-flat-button (click)="openDialogControl(device)">Điều
                                khiển</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>