<body>
    <div class="background-device-page">

        <div class="container">
            <div class="device_adding_icon">
                <button *ngIf="stopSign==true" mat-flat-button (click)="addingRequest()" id="timer">
                    <mat-icon id="element1">add_box</mat-icon>
                    <div id="element2"> Thêm thiết bị (3:00)</div>
                </button>
                <button *ngIf="stopSign==false" mat-flat-button (click)="stopTimer()" id="timer">
                    <mat-icon *ngIf="timerReset==true" id="element1">cancel</mat-icon>
                    <div *ngIf="timerReset==true" id="element2"> Huỷ bỏ ({{display}})</div>
                </button>
            </div>
            <div class="row">
                <!-- "| slice:1" => skip first element (Coordinator) -->
                <div class="col d-flex" *ngFor="let device of devices | slice:1; let i = index">
                    <div class="box">
                        <div class="tag-header">
                            <h1>{{device.friendly_name}}</h1>
                        </div>
                        <hr>

                        <!-- <div *ngIf="device.type === 'normal-light'"> -->
                        <div *ngIf="device == '1'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1> -->
                                <!-- <h4>{{device.deviceId}}</h4> -->
                                <h1>device.ot_nickname</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Trạng thái: Đang bật</h2> -->
                                <!-- <ng-template #elseStateDevice><h2 class="row d-flex">Trạng thái: Đang tắt</h2></ng-template> -->
                                <!-- <h2 class="row d-flex">Độ sáng: {{device.brightness}}</h2> -->
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <h2 class="row d-flex">Độ sáng: "device.brightness"</h2>
                            </div>
                        </div>

                        <div *ngIf="device.linkquality == '0'; else DATA_SHOW">
                            <div class="tag-content">
                                <div>
                                    <h2 class="row d-flex">Thiết bị ngoại tuyến</h2>
                                </div>
                            </div>
                            <div class="dieukhienBotton">
                                <div>
                                    <button class="btn btn-outline-dark" disabled>
                                        <mat-icon>share</mat-icon>
                                    </button>
                                    <button class="btn btn-outline-dark" disabled>
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button class="btn btn-outline-dark" disabled>
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </div>
                                <!-- control button-->
                                <button id="dieukhienBotton" mat-flat-button
                                    (click)="wakeupDevice(device)">Kích hoạt</button>
                            </div>
                        </div>
                        <ng-template #DATA_SHOW>
                            <div *ngFor="let deviceData of devicesData; let j = index">
                                <div class="tag-content" *ngIf="device.friendly_name == deviceData.topic">
                                    <div *ngIf="deviceData.model_id === 'WH_SENSOR'">
                                        <h2 class="row d-flex">Cường độ tín hiệu: {{deviceData.linkquality}}</h2>
                                        <h2 class="row d-flex">Pin: {{deviceData.battery}}%</h2>
                                        <h2 class="row d-flex">Nhiệt độ: {{deviceData.temperature}}&ordm;C</h2>
                                        <h2 class="row d-flex">Độ ẩm: {{deviceData.humidity}}%</h2>
                                    </div>
                                    <div
                                        *ngIf="deviceData.model_id === 'WH_LEDRGB' || deviceData.model_id === 'TS0505B'">
                                        <h2 class="row d-flex">Cường độ tín hiệu: {{deviceData.linkquality}}</h2>
                                        <h2 class="row d-flex" *ngIf="deviceData.state === 'ON'; else elseStateDevice">
                                            Trạng
                                            thái:
                                            Đang bật</h2>
                                        <ng-template #elseStateDevice>
                                            <h2 class="row d-flex ">Trạng thái: Đang tắt</h2>
                                        </ng-template>
                                        <h2 class="row d-flex">Độ sáng: {{deviceData.brightness}}%</h2>
                                        <h2 class="row d-flex" class="color-state">Màu đèn:
                                            <div class="color-state-box"
                                                [ngStyle]="{'background-color': deviceData.hex}">
                                                {{deviceData.hex}}</div>
                                        </h2>
                                        <!-- <h2 class="row d-flex" *ngIf="device.power_on_behavior === 'previous'">Hành vi bật
                                                nguồn: khôi phục</h2>
                                            <h2 class="row d-flex" *ngIf="device.power_on_behavior === 'ON'">Hành vi bật nguồn: bật
                                                đèn</h2>
                                            <h2 class="row d-flex" *ngIf="device.power_on_behavior === 'OFF'">Hành vi bật nguồn: tắt
                                                đèn</h2> -->
                                    </div>
                                    <div *ngIf="deviceData.model_id === 'WH_SWITCH4'">
                                        <h2 class="row d-flex">Cường độ tín hiệu: {{deviceData.linkquality}}</h2>
                                        <h2 class="row d-flex">Trạng thái:</h2>
                                        <h2 class="row d-flex" class="color-state">
                                            <div class="color-state-box color-state-box-switch4"
                                                [ngStyle]="{'background-color':deviceData.state_l1 == 'ON' ? '#50C878' : '#B2BEB5' }">
                                                <div *ngIf="deviceData.state_l1 == 'ON';  else elseTat">Bật</div>
                                            </div>
                                            <div class="color-state-box color-state-box-switch4"
                                                [ngStyle]="{'background-color':deviceData.state_l2 == 'ON' ? '#50C878' : '#B2BEB5' }">
                                                <div *ngIf="deviceData.state_l2 == 'ON'; else elseTat">Bật</div>
                                            </div>
                                            <div class="color-state-box color-state-box-switch4"
                                                [ngStyle]="{'background-color':deviceData.state_l3 == 'ON' ? '#50C878' : '#B2BEB5' }">
                                                <div *ngIf="deviceData.state_l3 == 'ON'; else elseTat">Bật</div>
                                            </div>
                                            <div class="color-state-box color-state-box-switch4"
                                                [ngStyle]="{'background-color':deviceData.state_l4 == 'ON' ? '#50C878' : '#B2BEB5' }">
                                                <div *ngIf="deviceData.state_l4 == 'ON'; else elseTat">Bật</div>
                                            </div>
                                            <ng-template #elseTat>
                                                <div>Tắt</div>
                                            </ng-template>
                                        </h2>
                                    </div>
                                    <div class="dieukhienBotton dieukhienBotton2">
                                        <div>
                                            <button class="btn btn-outline-dark"
                                                (click)="openDialogShareEdit(deviceData, 'share')">
                                                <mat-icon>share</mat-icon>
                                            </button>
    
                                            <button class="btn btn-outline-dark"
                                                (click)="openDialogShareEdit(deviceData, 'edit')">
                                                <mat-icon>edit</mat-icon>
                                            </button>
    
                                            <button class="btn btn-outline-dark" (click)="handleDevice(deviceData)"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDeleteDevice">
                                                <mat-icon>delete</mat-icon>
                                            </button>
    
                                            <!-- Modal, confirm delete -->
                                            <div class="modal fade" id="exampleModalDeleteDevice" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true"
                                                data-bs-backdrop="static">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title" id="exampleModalLabel">Bạn có muốn
                                                                xóa thiết bị
                                                                này không ?</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body" style="text-align: left;">
                                                            <h2>Loại thiết bị: <span>{{deviceAction.topic}}</span></h2>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                (click)="requestDeleteDevice()"
                                                                data-bs-dismiss="modal">Có, hãy
                                                                xóa</button>
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Hủy</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- control button-->
                                            <button style="border: blue;" id="dieukhienBotton" mat-flat-button
                                                (click)="openDialogControl(deviceData)">Điều khiển</button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>

                        <!-- <div *ngIf="device.type === 'lock'"> -->
                        <div *ngIf="device == '6'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>device.ot_nickname</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Trạng thái: Đang khóa</h2> -->
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang khóa</h2>

                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex">Trạng thái: Đang mở</h2>
                                </ng-template>
                            </div>
                        </div>
                        <!-- <div *ngIf="device.type === 'smart-plug'"> -->
                        <div *ngIf="device == '7'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>smart-plug</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex ">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <!-- <h2 class="row d-flex">Đếm ngược: </h2> -->
                                <h2 class="row d-flex">Lịch trình bật: </h2>
                                <h2 class="row d-flex">Lịch trình tắt: </h2>
                            </div>
                        </div>
                        <!-- <div *ngIf="device.type === 'smart-door-sensor'"> -->
                        <div *ngIf="device == '8'">
                            <div class="tag-header">
                                <!-- <h1>{{device.ot_nickname}}</h1>
                                <h4>{{device.deviceId}}</h4> -->
                                <h1>smart-door-sensor</h1>
                                <h4>device.deviceId</h4>
                            </div>
                            <hr>
                            <div class="tag-content">
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái: Đang bật</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex ">Trạng thái: Đang tắt</h2>
                                </ng-template>
                                <h2 class="row d-flex" *ngIf="1; else elseStateDevice">Trạng thái cửa: Đang mở</h2>
                                <ng-template #elseStateDevice>
                                    <h2 class="row d-flex ">Trạng thái cửa: Đang đóng</h2>
                                </ng-template>
                                <h2 class="row d-flex">Lịch trình bật: </h2>
                                <h2 class="row d-flex">Lịch trình tắt: </h2>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</body>