.tag-header {
    text-align: center;
}
  
.tag-header h1 {
    font-weight: bold;
    color: rgba(230, 70, 230, 0.8);
    margin: 0px;
}

.notification-edit {
    margin-top: 10px;
}

.notification-edit h4 {
    color: red;
    font-style: italic;
    margin-top: 5px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
    margin-bottom: 20px;
}
