<div style="text-align: right">
  <button mat-button (click)="onNoClick()">X</button>
</div>

<div class="container" mat-dialog-content style="margin-left: 15px; margin-right: 15px">
  <div class="device-name">
    <div *ngIf="data.virtualDevice.type === 'normal-light'">
      <div class="tag-header">
        <h1>{{ data.virtualDevice.topic }}</h1>
      </div>
      <hr />
      <div class="tag-content">
        <h2 class="row d-flex" *ngIf="data.virtualDevice.state; else elseStateDevice">
          Trạng thái: Đang bật
        </h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
        </ng-template>
        <h2 class="row d-flex">Độ sáng: {{ data.virtualDevice.brightness }}</h2>
      </div>
      <hr />
    </div>

    <div *ngIf="data.virtualDevice.model_id === 'WH_SWITCH4'">
      <div class="tag-header">
        <h1>{{data.virtualDevice.topic}}</h1>
      </div>
      <hr>
      <div class="tag-content">
        <h2 class="row d-flex">Cường độ tín hiệu: {{data.virtualDevice.linkquality}}</h2>
        <h2 class="row d-flex">Trạng thái:</h2>
        <h2 class="row d-flex" class="color-state">
          <div class="color-state-box color-state-box-switch4"
            [ngStyle]="{'background-color':data.virtualDevice.state_l1 ? '#50C878' : '#B2BEB5' }">
            <div *ngIf="data.virtualDevice.state_l1; else elseTat">Bật</div>
          </div>
          <div class="color-state-box color-state-box-switch4"
            [ngStyle]="{'background-color':data.virtualDevice.state_l2 ? '#50C878' : '#B2BEB5' }">
            <div *ngIf="data.virtualDevice.state_l2; else elseTat">Bật</div>
          </div>
          <div class="color-state-box color-state-box-switch4"
            [ngStyle]="{'background-color':data.virtualDevice.state_l3 ? '#50C878' : '#B2BEB5' }">
            <div *ngIf="data.virtualDevice.state_l3; else elseTat">Bật</div>
          </div>
          <div class="color-state-box color-state-box-switch4"
            [ngStyle]="{'background-color':data.virtualDevice.state_l4 ? '#50C878' : '#B2BEB5' }">
            <div *ngIf="data.virtualDevice.state_l4; else elseTat">Bật</div>
          </div>
          <ng-template #elseTat>
            <div>Tắt</div>
          </ng-template>
        </h2>
      </div>
      <hr />
    </div>

    <div *ngIf="data.virtualDevice.model_id === 'WH_SENSOR'">
      <div class="tag-header">
        <h1>{{data.virtualDevice.topic}}</h1>
      </div>
      <hr />
      <div class="tag-content">
        <!-- <h2 class="row d-flex" *ngIf="data.virtualDevice.stream.active; else elseStateDevice">Trạng thái: Kích hoạt</h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
        </ng-template> -->
        <h2 class="row d-flex">Pin: {{ data.virtualDevice.battery }}%</h2>
        <h2 class="row d-flex">Cường độ tín hiệu: {{ data.virtualDevice.linkquality }}</h2>
        <h2 class="row d-flex">
          Nhiệt độ: {{ data.virtualDevice.temperature }}&ordm;C
        </h2>
        <h2 class="row d-flex">Độ ẩm: {{ data.virtualDevice.humidity }}%</h2>
      </div>
      <hr />
      <!-- <h4 class="sensor-notify">Chọn kích hoạt để lấy dữ liệu mới nhất!</h4> -->
    </div>

    <div *ngIf="data.virtualDevice.model_id === 'WH_LEDRGB'">
      <div class="tag-header">
        <h1>{{data.virtualDevice.topic}}</h1>
      </div>
      <hr />
      <div class="tag-content">
        <h2 class="row d-flex" *ngIf="data.virtualDevice.state; else elseStateDevice">
          Trạng thái: Đang bật
        </h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
        </ng-template>
        <h2 class="row d-flex">Cường độ tín hiệu: {{data.virtualDevice.linkquality}}</h2>
        <h2 class="row d-flex">Độ sáng: {{ data.virtualDevice.brightness }}%</h2>
        <h2 class="row d-flex">Mã màu: {{ data.virtualDevice.hex }}</h2>
        <h2 class="row d-flex" *ngIf="data.virtualDevice.power_on_behavior === 'previous'">Hành vi bật
          nguồn: khôi phục</h2>
        <h2 class="row d-flex" *ngIf="data.virtualDevice.power_on_behavior === 'ON'">Hành vi bật nguồn: bật
          đèn</h2>
        <h2 class="row d-flex" *ngIf="data.virtualDevice.power_on_behavior === 'OFF'">Hành vi bật nguồn: tắt
          đèn</h2>
      </div>
      <hr />
    </div>

    <div *ngIf="data.virtualDevice.type === 'fan'">
      <hr />
      <div class="tag-content">
        <h2 class="row d-flex" *ngIf="data.virtualDevice.state; else elseStateDevice">
          Trạng thái: Đang bật
        </h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
        </ng-template>
        <h2 class="row d-flex">Mức độ: {{ data.virtualDevice.fanspeed }}</h2>
      </div>
      <hr />
    </div>
    <div *ngIf="data.virtualDevice.type === 'lock'">
      <hr />
      <div class="tag-content">
        <h2 class="row d-flex" *ngIf="data.virtualDevice.state; else elseStateDevice">
          Trạng thái: Đang khóa
        </h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái: Đang mở</h2>
        </ng-template>
      </div>
      <hr />
    </div>

    <div *ngIf="data.virtualDevice.type === 'smart-plug'">
      <hr />
      <div class="tag-content">
        <h2 class="row d-flex" *ngIf="1; else elseStateDevice">
          Trạng thái: Đang bật
        </h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
        </ng-template>
        <h2 class="row d-flex">Đếm ngược:</h2>
        <h2 class="row d-flex">Lịch trình bật:</h2>
        <h2 class="row d-flex">Lịch trình tắt:</h2>
      </div>
      <hr />
    </div>

    <div *ngIf="data.virtualDevice.type === 'smart-door-sensor'">
      <hr />
      <div class="tag-content">
        <h2 class="row d-flex" *ngIf="1; else elseStateDevice">
          Trạng thái: Đang bật
        </h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái: Đang tắt</h2>
        </ng-template>
        <h2 class="row d-flex" *ngIf="1; else elseStateDevice">
          Trạng thái cửa: Đang mở
        </h2>
        <ng-template #elseStateDevice>
          <h2 class="row d-flex">Trạng thái cửa: Đang đóng</h2>
        </ng-template>
        <h2 class="row d-flex">Lịch trình bật:</h2>
        <h2 class="row d-flex">Lịch trình tắt:</h2>
      </div>
      <hr />
    </div>
  </div>

  <div class="control-device" *ngIf="data.virtualDevice.model_id !== 'WH_SENSOR'">
    <div class="onOff" *ngIf="data.virtualDevice.model_id !== 'WH_SWITCH4'">
      <h2 class="onOffText">Bật/Tắt thiết bị:</h2>
      <div class="row" class="onOffButton">
        <div class="col">
          <div class="toggle-wrapper2">
            <div class="toggle2 dog-rollover2">
              <input *ngIf="data.virtualDevice.type !== 'sensor-th'; else sensorType" id="doggo2" type="checkbox"
                class="inputCheckbox" checked="data.virtualDevice.state" [(ngModel)]="data.virtualDevice.state" />
              <ng-template #sensorType>
                <input id="doggo2" type="checkbox" class="inputCheckbox" checked="data.virtualDevice.active"
                  [(ngModel)]="data.virtualDevice.active" />
              </ng-template>
              <label class="toggle-item2" for="doggo2">
                <div class="dog2">
                  <div class="face2"></div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- <div *ngIf="data.virtualDevice.type !== 'switch' && data.virtualDevice.type !== 'sensor-th' && data.virtualDevice.type !== 'fan' && data.virtualDevice.type !== 'lock' && data.virtualDevice.type !== 'smart-door-sensor' && data.virtualDevice.type !== 'smart-plug'"> -->
    <div *ngIf="
        data.virtualDevice.type === 'normal-light' ||
        data.virtualDevice.model_id === 'WH_LEDRGB'
      ">
      <div>
        <h2>Điều chỉnh độ sáng:</h2>
      </div>
      <div class="row">
        <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="100"
          value="{{ data.virtualDevice.brightness }}" [(ngModel)]="data.virtualDevice.brightness" aria-label="units">
        </mat-slider>
      </div>
    </div>

    <div *ngIf="data.virtualDevice.model_id === 'WH_LEDRGB'">
      <h2>Thiết lập màu đèn:</h2>
      <div style="text-align: center">
        <input type="color" id="head" name="head" value="data.virtualDevice.hex" [(ngModel)]="data.virtualDevice.hex"
          style="width: 80%; height: 40px" />
        <div>{{ data.virtualDevice.hex }}</div>
      </div>
    </div>

    <div *ngIf="data.virtualDevice.model_id === 'WH_SWITCH4'">
      <div class="onOff">
        <h2 class="onOffText">Công tắc 1: </h2>
        <div class="row" class="onOffButton">
          <div class="col">
            <div class="toggle-wrapper2">
              <div class="toggle2 dog-rollover2">
                <input *ngIf="data.virtualDevice.type !== 'sensor-th'; else sensorType" id="doggo2" type="checkbox"
                  class="inputCheckbox" checked="data.virtualDevice.state_l1"
                  [(ngModel)]="data.virtualDevice.state_l1" />
                <ng-template #sensorType>
                  <input id="doggo2" type="checkbox" class="inputCheckbox" checked="data.virtualDevice.active"
                    [(ngModel)]="data.virtualDevice.active" />
                </ng-template>
                <label class="toggle-item2" for="doggo2">
                  <div class="dog2">
                    <div class="face2"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="onOff">
        <h2 class="onOffText">Công tắc 2:</h2>
        <div class="row" class="onOffButton">
          <div class="col">
            <div class="toggle-wrapper22">
              <div class="toggle22 dog-rollover22">
                <input *ngIf="data.virtualDevice.type !== 'sensor-th'; else sensorType" id="doggo22" type="checkbox"
                  class="inputCheckbox2" checked="data.virtualDevice.state_l2"
                  [(ngModel)]="data.virtualDevice.state_l2" />
                <ng-template #sensorType>
                  <input id="doggo22" type="checkbox" class="inputCheckbox2" checked="data.virtualDevice.active"
                    [(ngModel)]="data.virtualDevice.active" />
                </ng-template>
                <label class="toggle-item22" for="doggo22">
                  <div class="dog22">
                    <div class="face22"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="onOff">
        <h2 class="onOffText">Công tắc 3:</h2>
        <div class="row" class="onOffButton">
          <div class="col">
            <div class="toggle-wrapper23">
              <div class="toggle23 dog-rollover23">
                <input *ngIf="data.virtualDevice.type !== 'sensor-th'; else sensorType" id="doggo23" type="checkbox"
                  class="inputCheckbox3" checked="data.virtualDevice.state_l3"
                  [(ngModel)]="data.virtualDevice.state_l3" />
                <ng-template #sensorType>
                  <input id="doggo23" type="checkbox" class="inputCheckbox3" checked="data.virtualDevice.active"
                    [(ngModel)]="data.virtualDevice.active" />
                </ng-template>
                <label class="toggle-item23" for="doggo23">
                  <div class="dog23">
                    <div class="face23"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div class="onOff">
        <h2 class="onOffText">Công tắc 4:</h2>
        <div class="row" class="onOffButton">
          <div class="col">
            <div class="toggle-wrapper24">
              <div class="toggle24 dog-rollover24">
                <input *ngIf="data.virtualDevice.type !== 'sensor-th'; else sensorType" id="doggo24" type="checkbox"
                  class="inputCheckbox4" checked="data.virtualDevice.state_l4"
                  [(ngModel)]="data.virtualDevice.state_l4" />
                <ng-template #sensorType>
                  <input id="doggo24" type="checkbox" class="inputCheckbox4" checked="data.virtualDevice.active"
                    [(ngModel)]="data.virtualDevice.active" />
                </ng-template>
                <label class="toggle-item24" for="doggo24">
                  <div class="dog24">
                    <div class="face24"></div>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>

    <div *ngIf="0">
      <h2>Đặt lịch bật:</h2>
      <div class="ngx-material-timepicker-example__form-group">
        <input placeholder="12:00 am" aria-label="default time" [ngxTimepicker]="On_picker" readonly />
        <ngx-material-timepicker #On_picker [defaultTime]="'12:00 am'"></ngx-material-timepicker>
      </div>
      <h2>Đặt lịch tắt:</h2>
      <div class="ngx-material-timepicker-example__form-group">
        <input placeholder="12:00 am" aria-label="default time" [ngxTimepicker]="Off_picker" readonly />
        <ngx-material-timepicker #Off_picker [defaultTime]="'12:00 am'"></ngx-material-timepicker>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions style="float: right">
  <button mat-button (click)="onNoClick()">Hủy</button>

  <button mat-button (click)="onYesClick()" [mat-dialog-close]="data.virtualDevice.state" cdkFocusInitial>
    <span *ngIf="data.virtualDevice.type !== 'sensor-th'; else sensorType">Đồng ý</span>
    <ng-template #sensorType>
      <span>Kích hoạt</span>
    </ng-template>
  </button>
</div>