.tag-header {
  text-align: center;
}

.tag-header h1 {
  font-weight: bold;
  color: #FF914D;
}

mat-slider {
  width: 300px;
}

.sensor-notify {
  color: rgb(50, 50, 233);
}

.onOff{
  width: 100%;
  display: block;
}
.onOffText {
  padding-left:0vw;
  float: left;
  width: 50%;
  text-align: left;
  /* color: rgb(255, 255, 255) */
}
.onOffButton {
  overflow: hidden;
  width: 45%;
  text-align: left;
}
.container h2{
    font-size: 16px;
    margin: 0px;

}
/* ------------------------------------- radio button -------------------------------- */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  content: "";
  position: absolute;
}

.inputCheckbox, .inputCheckbox2, .inputCheckbox3, .inputCheckbox4 {
  height: 20px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.toggle-wrapper2, .toggle-wrapper22 {
  flex: 1 1 calc(100% / 3);
  min-height: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  overflow: hidden;
  position: relative;
}
@media (max-width: 480px) {
  .toggle-wrapper2, .toggle-wrapper22 {
    flex: 1 1 calc(100% / 2);
  }
}
@media (max-width: 350px) {
  .toggle-wrapper2, .toggle-wrapper22{
    flex: 1 1 100%;
  }
}

/* .toggle-wrapper:nth-child(6) {
    background: #c487de;
  } */

.toggle2, .toggle22, .toggle23, .toggle24 {
  position: relative;
  display: inline-block;
}

label.toggle-item2,  label.toggle-item22, label.toggle-item23, label.toggle-item24{
  width: 3.5em;
  background: #2e394d;
  height: 1.5em;
  display: inline-block;
  border-radius: 25px;
  /* margin: 0px; */
  position: relative;
  transition: all 0.3s ease;
  transform-origin: 20% center;
  cursor: pointer;
}
label.toggle-item2:before, label.toggle-item22:before, label.toggle-item23:before, label.toggle-item24:before {
  display: block;
  transition: all 0.2s ease;
  width: 1.15em;
  height: 1.15em;
  top: 0.125em;
  left: 0.125em;
  border-radius: 1em;
  border: 1px solid #88cf8f;
  transition: 0.3s ease;
}

.dog-rollover2 label:before {
  content: none;
}

.dog-rollover22 label:before, .dog-rollover23 label:before, .dog-rollover24 label:before {
  content: none;
}

.dog-rollover2 label .dog2 {
  display: inline-block;
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  top: 0.125em;
  left: 0.1em;
  transition: 0.6s ease;
}
.dog-rollover22 label .dog22, .dog-rollover23 label .dog23, .dog-rollover24 label .dog24 {
  display: inline-block;
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  top: 0.125em;
  left: 0.1em;
  transition: 0.6s ease;
}

/* .dog-rollover2 label .eyes2 {
  position: absolute;
  width: 8px;
  height: 8px;
  background: #222;
  border-radius: 50%;
  transform: translate(8px, 14px);
  box-shadow: 16px 0 0 #222, 22px -4px 0 12px #e4ac04;
} */
/* .dog-rollover2 label .ear2 {
  width: 18px;
  height: 20px;
  position: absolute;
  left: -4px;
  bottom: 80%;
  background: #f9bb00;
  margin-bottom: -5px;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  box-shadow: inset 4px 0 0 0px #ffffff, inset -4px 0 0 0px #ffffff;
  transform: rotate(-40deg);
} */
/* .dog-rollover2 label .ear2.right2 {
  transform: rotate(60deg) scaleX(-1);
  left: auto;
  transform-origin: center bottom;
  transition: 0.4s ease-in-out;
  right: 0px;
} */
.dog-rollover2 label .face2 {
  /* overflow: hidden; */
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  background: #fff;
  z-index: 4;
}
.dog-rollover22 label .face22, .dog-rollover23 label .face23, .dog-rollover24 label .face24 {
  /* overflow: hidden; */
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  position: absolute;
  background: #fff;
  z-index: 4;
}
/* .dog-rollover2 label .mouth2 {
  position: absolute;
  background: #222;
  width: 14px;
  height: 7px;
  left: 50%;
  margin-left: -7px;
  bottom: 12px;
  border-radius: 2px 2px 20px 20px;
  bottom: 8px;
  transform: scale(0);
  transition: 0.1s ease;
}
.dog-rollover2 label .mouth2:before {
  width: 8px;
  height: 8px;
  background: #ec788d;
  border-radius: 0 0 50% 50%;
  transform: translate(3px, 5px);
} */
.dog-rollover2 label:before {
  border-color: white;
  background: white;
}
.dog-rollover22 label:before {
  border-color: white;
  background: white;
}

#doggo2:checked ~ .cup {
  animation: 0.2s linear cup 1s forwards;
}

#doggo22:checked ~ .cup {
  animation: 0.2s linear cup 1s forwards;
}

#doggo23:checked ~ .cup {
  animation: 0.2s linear cup 1s forwards;
}
#doggo24:checked ~ .cup {
  animation: 0.2s linear cup 1s forwards;
}

#doggo2:checked + label .dog2 {
  left: 30px;
  transform: rotate(360deg);
}
#doggo22:checked + label .dog22 {
  left: 30px;
  transform: rotate(360deg);
}

#doggo23:checked + label .dog23 {
  left: 30px;
  transform: rotate(360deg);
}
#doggo24:checked + label .dog24 {
  left: 30px;
  transform: rotate(360deg);
}


/* #doggo2:checked + label .mouth2 {
  transform: scale(1);
  transition-delay: 0.7s;
} */
#doggo2:checked + label .ear2.right2 {
  transform: scaleX(-1) rotate(-35deg);
  transition-delay: 0.6s;
}
#doggo22:checked + label .ear2.right2 {
  transform: scaleX(-1) rotate(-35deg);
  transition-delay: 0.6s;
}

.color-state-box {
  display: inline-block;
  bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.color-state-box-switch4{
  text-align: center;
  min-width: 50px;
  margin-right: 5px;
}
