.example-form {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  /* text-align: center; */
}

.example-full-width {
  width: 100%;
}

.title-standee {
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 35px;
  width: 100%;
  /* font-weight: bold; */
}

.example-button-row {
  width: 100%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.forgetPass-login {
  /* font-style: italic; */
  font-size: 15px;
}

.forgetPass-login:hover {
  color: red;
  transition: 0.4s; /* tạo độ trễ cho hover */
}

.notify-status {
  margin-top: 20px;
  color: red;
  /* font-family: Lora; */
}

/* khung ở login sẽ margin 15vh => để nâng form đăng ký lên => nâng cả content lên thêm 10vh
=> content bên này margin 5vh, để left sign up trùng left sign in thì left sign up phải hạ xuống 10vh */
#content{
  width: 80vw;
  height: 50vh;
  margin: 5vh auto;
  
}
#left {
  float: left;
  width: 50%;
  text-align: right;
  margin: 10vh auto;
}
#right {
  overflow: hidden;
  width: 50%;
  padding-top: 30px;
  padding-left: 50px;
}

.login {
  /* font-style: italic; */
  font-size: 20px;
}

.login:hover {
  color: red;
  cursor: pointer;
  transition: 0.4s; /* tạo độ trễ cho hover */
}

.resend-code:hover {
  color: red;
  cursor: pointer;
  transition: 0.4s; /* tạo độ trễ cho hover */
}
@media screen and (max-width: 480px) {
  #content{
    width: 100%;
    height: 50vh;
    margin: auto;
  }
  body {
    position: fixed;
  }

  #description {
    font-size: 20px;
    font-weight: normal;
  }

  #left {
    width: 100%;
    max-height: 20vh;
    margin: 0;
  }

  #left img{
    scale: 60%;
    padding-left: 50vw;
  }

  #logo-lite {
    scale: 50%;
  }

  #right {
    width: 100%;
    z-index: 50;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }
  .example-form {
    min-width: 100px;
    max-width: 80%;
    width: 100%;
    /* text-align: center; */
  }
}
