<div style="text-align: right">
  <button mat-button (click)="onNoClick()">X</button>
</div>
<div class="tag-header">
  <h1>Tạo câu lệnh</h1>
</div>
<hr>
<div class="container" mat-dialog-content style="margin-left: 15px; margin-right: 15px">
  <div>
    <div class="tag-content">
      <div class="form-group">
        <form action="" [formGroup]="newSceneFormGroup">
            <small id="nameHelp" class="form-text text-muted">Nhập tên câu lệnh</small>
            <input type="text" class="form-control" formControlName="nameFormControl" for aria-describedby="nameHelp">
        </form>
      </div>
      <br />
      <div *ngFor="let device of devices">
        <input style="accent-color: #3f51b5;" type="checkbox" [(ngModel)]="device.checked" />
        <span> {{device.name}}</span>

        <div *ngIf="device.model_id == 'WH_LEDRGB' && device.checked == true">
          <mat-slide-toggle color="primary" [(ngModel)]="device.state"></mat-slide-toggle>
          <input type="color" id="head" name="head" value="device.hex"
              [(ngModel)]="device.hex" style="width: 10%; height:20px; margin-left: 20px;" />
          <div>Độ sáng:
            <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="100"
              value="device.brightness" [(ngModel)]="device.brightness" aria-label="units">
            </mat-slider>
          </div>
        </div>

        <div *ngIf="device.model_id == 'TS0505B' && device.checked == true">
          <mat-slide-toggle color="primary" [(ngModel)]="device.state"></mat-slide-toggle>
          <input type="color" id="head" name="head" value="device.hex"
              [(ngModel)]="device.hex" style="width: 10%; height:20px; margin-left: 20px;" />
          <div>Độ sáng:
            <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="100"
              value="device.brightness" [(ngModel)]="device.brightness" aria-label="units">
            </mat-slider>
          </div>
          <div>Nhiệt độ màu:
            <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="10" min="0" max="500"
              value="device.color_temp" [(ngModel)]="device.color_temp" aria-label="units">
            </mat-slider>
          </div>
        </div>

        <div *ngIf="device.model_id == 'WH_LEDTEMP' && device.checked == true">
          <mat-slide-toggle color="primary" [(ngModel)]="device.state"></mat-slide-toggle>
          <!-- <span style="width: 100px !important;">
            <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="100"
              value="device.brightness" [(ngModel)]="device.brightness" aria-label="units">
            </mat-slider>
          </span> -->
          <div>Độ sáng:
            <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0" max="100"
              value="device.brightness" [(ngModel)]="device.brightness" aria-label="units">
            </mat-slider>
          </div>
          <div>Nhiệt độ màu:
            <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="10" min="0" max="500"
              value="device.color_temp" [(ngModel)]="device.color_temp" aria-label="units">
            </mat-slider>
          </div>
        </div>

        <div *ngIf="device.model_id == 'ZM-L03E-Z' && device.checked == true">
          <mat-slide-toggle [(ngModel)]="device.state_left" color="primary"></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="device.state_center" color="primary" style="margin-left: 20px;"></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="device.state_right" color="primary" style="margin-left: 20px;"></mat-slide-toggle>
        </div>

        <div *ngIf="device.model_id == 'WH_SWITCH4' && device.checked == true">
          <mat-slide-toggle [(ngModel)]="device.state_l1" color="primary"></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="device.state_l2" color="primary" style="margin-left: 20px;"></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="device.state_l3" color="primary" style="margin-left: 20px;"></mat-slide-toggle>
          <mat-slide-toggle [(ngModel)]="device.state_l4" color="primary" style="margin-left: 20px;"></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div *ngIf="checkIfSceneNameValid == false" class="d-flex justify-content-center">
  Vui lòng nhập tên câu lệnh.
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-button (click)="onNoClick()">Huỷ</button>
  <button mat-button (click)="onYesClick()">Đồng ý</button>
</div>