<body>
    <div class="background-device-page">
        <div class="intro">
            <img id="logo-lite" src="../../../assets/logo/warmhouse-lite.png" style="height:60px;"> 
            <br> 
            là công ty cung cấp giải pháp smart home thuần Việt do người Việt sáng tạo, vận hành, nghiên cứu và
            đưa ra thị trường.
        </div>
        <div class="contact-us">
            <div style="color: white; font-size: 35px; font-weight: bold;">
                Vui lòng liên hệ chúng tôi
            </div>
            <div class="info">
                <div class="Toi-info">
                    <div style="font-size: 35px;">Nguyễn Tấn Tới</div>
                    <div style="font-size: 18px;">Xây dựng website</div>
                    <div style="font-size: 18px;">0357382204</div>
                    <div style="font-size: 18px;">18521513@gm.uit.edu.vn</div>
                </div>
                <div class="Quoc-info">
                    <div style="font-size: 35px;">Nguyễn Kim Quốc</div>
                    <div style="font-size: 18px;">Xây dựng phần cứng</div>
                    <div style="font-size: 18px;">0357382204</div>
                    <div style="font-size: 18px;">18521310@gm.uit.edu.vn</div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        <div class="contact-us">
            Liên hệ chúng tôi
        </div>
        <div class="info">
            <div class="Toi-info">
                <div style="font-size: 35px;">Nguyễn Tấn Tới</div>
                <div style="font-size: 35px;">Xây dựng website</div>
                <div style="font-size: 20px;">18521513@gm.uit.edu.vn</div>
            </div>
            <div class="Quoc-info">
                <div style="font-size: 35px;">Nguyễn Kim Quốc</div>
                <div style="font-size: 35px;">Xây dựng phần cứng</div>
                <div style="font-size: 20px;">18521310@gm.uit.edu.vn</div>
            </div>
        </div>
    </div> -->
</body>