<div class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-light">
        <div class="col-md-6 px-0 text-success">
            <h1 class="display-4 fst-italic title-standee">IoTs - Kết nối vạn vật</h1>
            <p class="lead my-3 content-standee">Phát triển công nghệ trên lĩnh vực thiết bị dân dụng, giải pháp
                công nghệ tiên tiến điều khiển thiết bị, giám sát cảm biến môi trường trong gia đình bạn.
            </p>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative farm-intro">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2><strong class="d-inline-block mb-2 text-primary">Phát triển ứng dụng web <br> Nguyễn Tấn Tới</strong></h2>
                    <h3 class="mb-0">Chuyên ngành Kỹ thuật Máy tính</h3>
                    <div class="mb-1 text-muted">MSSV: 18521513</div>
                    <p class="card-text mb-auto">Trường đại học Công nghệ Thông tin, ĐHQG-HCM</p>
                    <a href="#" class="stretched-link">Tham khảo thêm</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../../assets/about/toi.jpg" alt="" height="250">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h2><strong class="d-inline-block mb-2 text-success">Phát triển ứng dụng di động <br> Nguyễn Kim Quốc</strong></h2>
                    <h3 class="mb-0">Chuyên ngành Kỹ thuật Máy tính</h3>
                    <div class="mb-1 text-muted">MSSV: 18521310</div>
                    <p class="card-text mb-auto">Trường đại học Công nghệ Thông tin, ĐHQG-HCM</p>
                    <a href="#" class="stretched-link">Tham khảo thêm</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../../assets/about/quoc.jpg" alt="" height="250">
                </div>
            </div>
        </div>
    </div>

    <!-- Noi dung bên duoi hinh -->
    <div class="row g-5">
        <div class="col-md-8">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Warm House
            </h3>

            <article class="blog-post">
                <h2 class="blog-post-title">Thiết kế và lập trình mạch điển tử</h2>
                <p class="blog-post-meta fst-italic text-muted" >Tháng 01 năm 2021</p>
                <p>Cung cấp mẫu thiết kế và layout các mạch điện. Thi công và lắp đặt các mạch điện tử trên nền tảng giao tiếp IoT.</p>
                <ul>
                    <li>Mạch điều khiển đèn sáng trắng.</li>
                    <li>Mạch điều khiển đèn màu.</li>
                    <li>Mạch điều khiển công tắc.</li>
                    <li>Mạch điều khiển quạt.</li>
                    <li>Mạch điều khiển khóa cửa.</li>
                    <li>Mạch điều khiển máy bơm.</li>
                    <li>Mạch cảm biến giá trị nhiệt độ, độ ẩm.</li>
                </ul>
                <hr>
                <h2 class="blog-post-title">Lập trình Server</h2>
                <p class="blog-post-meta fst-italic text-muted">Tháng 01 năm 2021</p>
                <p>Lập trình Server cung cấp các API giúp việc giao tiếp giữa các phần cứng và phần mềm như ứng dụng di động,
                    trang web trở nên dễ dàng. Đồng thời sẽ lưu trữ các trạng thái của thiết vào cơ sở dữ liệu của hệ thống.</p>
                <hr>
                <h2 class="blog-post-title">Lập trình ứng dụng di động</h2>
                <p class="blog-post-meta fst-italic text-muted">Tháng 02 năm 2021</p>
                <p>Phát triển ứng dụng di động trên nền tảng <a href="https://reactnative.dev/">React Native</a>.</p>
                <hr>
                <h2 class="blog-post-title">Lập trình website</h2>
                <p class="blog-post-meta fst-italic text-muted">Tháng 03 năm 2021</p>
                <p>Phát triển ứng dụng website trên nền tảng <a href="https://angular.io/">Angular</a>.</p>
                <hr>
                <h2 class="blog-post-title">Tích hợp Google Assistant</h2>
                <p class="blog-post-meta fst-italic text-muted">Tháng 04 năm 2021</p>
                <p>Tích hợp Google Assistant nhận dạng giọng nói và xử lý yêu cầu của người dùng.</p>
                <p>Thông qua Google Assistant người dùng có thể điều khiển thiết bị của mình thông qua giọng nói trên điện thoại di động.</p>
                <hr>
                <h2 class="blog-post-title">Firebase</h2>
                <p class="blog-post-meta fst-italic text-muted">Tháng 05 năm 2021</p>
                <p><a href="https://firebase.google.com/">Firebase</a> - Nơi lưu trữ cơ sở liệu và đồng thời là nơi lưu trữ thông tin người dùng.</p>
            </article>

            <!-- <article class="blog-post">
                <h2 class="blog-post-title">Another blog post</h2>
                <p class="blog-post-meta">December 23, 2020 by <a href="#">Jacob</a></p>

                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <blockquote>
                    <p>Longer quote goes here, maybe with some <strong>emphasized text</strong> in the middle of it.</p>
                </blockquote>
                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <h3>Example table</h3>
                <p>And don't forget about tables in these posts:</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Upvotes</th>
                            <th>Downvotes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alice</td>
                            <td>10</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Bob</td>
                            <td>4</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Charlie</td>
                            <td>7</td>
                            <td>9</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Totals</td>
                            <td>21</td>
                            <td>23</td>
                        </tr>
                    </tfoot>
                </table>

                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other
                    highly repetitive body text used throughout.</p>
            </article>

            <article class="blog-post">
                <h2 class="blog-post-title">New feature</h2>
                <p class="blog-post-meta">December 14, 2020 by <a href="#">Chris</a></p>

                <p>This is some additional paragraph placeholder content. It has been written to fill the available
                    space and show how a longer snippet of text affects the surrounding content. We'll repeat it often
                    to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
                <ul>
                    <li>First list item</li>
                    <li>Second list item with a longer description</li>
                    <li>Third list item to close it out</li>
                </ul>
                <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other
                    highly repetitive body text used throughout.</p>
            </article> -->
        </div>

        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">Thông tin chung</h4>
                    <p class="mb-0">Công ty Warm House chuyên cung cấp các sản phẩm liên quan đến các giải pháp công nghệ cho
                        cho gia đình bạn như nhà thông minh, khu vườn tự động và các dịch vụ liên quan khác.
                    </p>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Thông tin dịch vụ năm 2021</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">Tháng 01</a></li>
                        <li><a href="#">Tháng 02</a></li>
                        <li><a href="#">Tháng 03</a></li>
                        <li><a href="#">Tháng 04</a></li>
                        <li><a href="#">Tháng 05</a></li>
                        <li><a href="#">Tháng 06</a></li>
                        <li><a href="#">Tháng 07</a></li>
                        <li><a href="#">Tháng 08</a></li>
                        <li><a href="#">Tháng 09</a></li>
                        <li><a href="#">Tháng 10</a></li>
                        <li><a href="#">Tháng 11</a></li>
                        <li><a href="#">Tháng 12</a></li>
                    </ol>
                </div>

                <div class="p-4">
                    <h4 class="fst-italic">Thông tin liên hệ</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Gmail</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="jss02-content-001">
    <div class="row">
        <div class="col-6">
            <div class="footer-box" id="box-001">
                <h1>Warm<span>House</span></h1>
                <span class="script-contract">Hãy cùng đội ngũ Warm House góp phần xây dựng
                    nên những căn nhà mơ ước. Hãy để những ý tưởng của bạn bay cùng chúng tôi.
                    Warm House - Your House Your Style</span>
            </div>
        </div>
        <div class="col">
            <div class="footer-box" id="box-002">
                <h1>Chính <span>sách</span></h1>
                <ul>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Lắp đặt</a></li>
                    <li><a href="#">Bảo hành</a></li>
                    <li><a href="#">Đổi trả</a></li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="footer-box" id="box-003">
                <h1>Liên hệ</h1>
                <div class="row">
                    <div class="col-1">
                        <mat-icon style="color: rgb(87, 235, 74);">phone</mat-icon>
                    </div>
                    <div class="col-11"><span>(+84)39-183-882</span></div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <mat-icon style="color: blanchedalmond;">email</mat-icon>
                    </div>
                    <div class="col-11"><span>warmhouse@gmail.com</span></div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <mat-icon style="color: rgb(233, 248, 25);"> place</mat-icon>
                    </div>
                    <div class="col-11"><span>Trường ĐH Công nghệ Thông tin</span></div>
                </div>

            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col d-flex justify-content-center">
            <span id="coppyright-warmhouse">Bản quyền ©2020 Tất cả được bảo vệ | Trang web này thuộc về WarmHouse</span>
            <br><br>
        </div>
    </div>
</div>