#noClick:focus {
    box-shadow: none !important;
}

::ng-deep .mat-button-focus-overlay {
    display: none;
}
#stopIcon{
    animation: blink 1.5s ease-in infinite;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}
