<div id="content">
    <div id="left">
      <img src="../../../assets/sign-in-sign-up/signin-image.jpg">
    </div>
    <div id="right">
        <div class="login" [routerLink]="['/login']" routerLinkActive="router-link-active">
            <mat-icon style="vertical-align: middle; display: inline-block">arrow_back</mat-icon>
            <div style="vertical-align: middle; display: inline-block">Đăng nhập</div>
        </div>  
        <br>    
        <h1 class="d-flex title-standee">Đăng ký tài khoản</h1>
        <div class="d-flex">
            <form class="example-form" [formGroup]="information" (ngSubmit)="registration()">
                <mat-form-field class="example-full-width">
                    <mat-label>Họ</mat-label>
                    <input matInput type="text" formControlName="firstname" required />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Tên</mat-label>
                    <input matInput type="text" formControlName="lastname"  required />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" [email]="true" required />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Mật khẩu</mat-label>
                    <input matInput type="password" formControlName="password" required />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Nhập lại mật khẩu</mat-label>
                    <input matInput type="password" formControlName="repassword" required />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Số điện thoại (+84)</mat-label>
                    <input matInput type="text" formControlName="phone" required />
                </mat-form-field>

                <div>
                    <button class="example-button-row" mat-flat-button type="submit" color="primary" [disabled]="!information.valid">
                        Đăng ký
                    </button>
                </div>                      
            </form>
        </div>
        <div class="d-flex notify-status">
            <div class="example-form">
                <div *ngIf="statusRegistration === 'SIGNUP_OK'; else elseBlock">
                    <h3>Đăng ký thành công !!!</h3>
                </div>
                <ng-template #elseBlock>
                    <h3 *ngIf="statusRegistration !== ''">{{ statusRegistration.message }}</h3>
                </ng-template>
            </div>
        </div>
        
    </div>
</div>
