<div style="text-align: right">
    <button mat-button (click)="onNoClick()">X</button>
</div>

<div class="device-name">
    <div class="tag-header">
        <h1>{{data.virtualGroup.friendly_name}}</h1>
    </div>
</div>
<div class="container" mat-dialog-content style="margin-left: 15px; margin-right: 15px; overflow: unset;">
    <div class="control-device">
        <div class="onOff" *ngIf="!data.virtualGroup.isSensorExist">
            <h2 class="onOffText">Bật/Tắt tất cả thiết bị:</h2>
            <div class="row" class="onOffButton">
                <div class="col">
                    <div class="toggle-wrapper2">
                        <div class="toggle2 dog-rollover2">
                            <input *ngIf="data.virtualGroup.type !== 'sensor-th'; else sensorType" id="doggo2"
                                type="checkbox" class="inputCheckbox" checked="data.virtualGroup.state"
                                [(ngModel)]="data.virtualGroup.state" />
                            <ng-template #sensorType>
                                <input id="doggo2" type="checkbox" class="inputCheckbox"
                                    checked="data.virtualGroup.active" [(ngModel)]="data.virtualGroup.active" />
                            </ng-template>
                            <label class="toggle-item2" for="doggo2">
                                <div class="dog2">
                                    <div class="face2"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div *ngIf="!data.virtualGroup.isSensorExist && !data.virtualGroup.isSwitchExist">
            <div>
                <h2>Điều chỉnh độ sáng:</h2>
            </div>
            <div class="row">
                <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1" step="1" min="0"
                    max="100" value="{{ data.virtualGroup.brightness }}" [(ngModel)]="data.virtualGroup.brightness"
                    aria-label="units">
                </mat-slider>
            </div>
        </div>


        <div
            *ngIf="!data.virtualGroup.isSensorExist && !data.virtualGroup.isSwitchExist && !data.virtualGroup.isNormalLightExist">
            <div class="onOff">
                <h2 class="onOffText">Thiết lập màu đèn:</h2>
                <div class="row" class="onOffButton" style="text-align: center; width:40% !important; height: 45px;">
                    <input type="color" id="head" name="head" value="data.virtualGroup.hex"
                        [(ngModel)]="data.virtualGroup.hex" style="width: 100%; height: 35px" />
                    <!-- <div>{{ data.virtualGroup.hex }}</div> -->
                </div>
            </div>
        </div>

        <!-- <div *ngIf="data.virtualGroup.model_id === 'ZM-L03E-Z'">
        <div class="onOff">
          <h2 class="onOffText">Bật/Tắt công tắc 1: </h2>
          <div class="row" class="onOffButton">
            <div class="col">
              <div class="toggle-wrapper2">
                <div class="toggle2 dog-rollover2">
                  <input *ngIf="data.virtualGroup.type !== 'sensor-th'; else sensorType" id="doggo2" type="checkbox"
                    class="inputCheckbox" checked="data.virtualGroup.state_left"
                    [(ngModel)]="data.virtualGroup.state_left" />
                  <ng-template #sensorType>
                    <input id="doggo2" type="checkbox" class="inputCheckbox" checked="data.virtualGroup.active"
                      [(ngModel)]="data.virtualGroup.active" />
                  </ng-template>
                  <label class="toggle-item2" for="doggo2">
                    <div class="dog2">
                      <div class="face2"></div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
  
        <div class="onOff">
          <h2 class="onOffText">Bật/Tắt công tắc 2:</h2>
          <div class="row" class="onOffButton">
            <div class="col">
              <div class="toggle-wrapper22">
                <div class="toggle22 dog-rollover22">
                  <input *ngIf="data.virtualGroup.type !== 'sensor-th'; else sensorType" id="doggo22" type="checkbox"
                    class="inputCheckbox2" checked="data.virtualGroup.state_center"
                    [(ngModel)]="data.virtualGroup.state_center" />
                  <ng-template #sensorType>
                    <input id="doggo22" type="checkbox" class="inputCheckbox2" checked="data.virtualGroup.active"
                      [(ngModel)]="data.virtualGroup.active" />
                  </ng-template>
                  <label class="toggle-item22" for="doggo22">
                    <div class="dog22">
                      <div class="face22"></div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
  
        <div class="onOff">
          <h2 class="onOffText">Bật/Tắt công tắc 3:</h2>
          <div class="row" class="onOffButton">
            <div class="col">
              <div class="toggle-wrapper23">
                <div class="toggle23 dog-rollover23">
                  <input *ngIf="data.virtualGroup.type !== 'sensor-th'; else sensorType" id="doggo23" type="checkbox"
                    class="inputCheckbox3" checked="data.virtualGroup.state_right"
                    [(ngModel)]="data.virtualGroup.state_right" />
                  <ng-template #sensorType>
                    <input id="doggo23" type="checkbox" class="inputCheckbox3" checked="data.virtualGroup.active"
                      [(ngModel)]="data.virtualGroup.active" />
                  </ng-template>
                  <label class="toggle-item23" for="doggo23">
                    <div class="dog23">
                      <div class="face23"></div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
      </div> -->

        <!-- <div *ngIf="data.virtualGroup.model_id === 'WH_SWITCH4'">
        <div class="onOff">
          <h2 class="onOffText">Bật/Tắt công tắc 1: </h2>
          <div class="row" class="onOffButton">
            <div class="col">
              <div class="toggle-wrapper2">
                <div class="toggle2 dog-rollover2">
                  <input *ngIf="data.virtualGroup.type !== 'sensor-th'; else sensorType" id="doggo2" type="checkbox"
                    class="inputCheckbox" checked="data.virtualGroup.state_l1"
                    [(ngModel)]="data.virtualGroup.state_l1" />
                  <ng-template #sensorType>
                    <input id="doggo2" type="checkbox" class="inputCheckbox" checked="data.virtualGroup.active"
                      [(ngModel)]="data.virtualGroup.active" />
                  </ng-template>
                  <label class="toggle-item2" for="doggo2">
                    <div class="dog2">
                      <div class="face2"></div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
  
        <div class="onOff">
          <h2 class="onOffText">Bật/Tắt công tắc 2:</h2>
          <div class="row" class="onOffButton">
            <div class="col">
              <div class="toggle-wrapper22">
                <div class="toggle22 dog-rollover22">
                  <input *ngIf="data.virtualGroup.type !== 'sensor-th'; else sensorType" id="doggo22" type="checkbox"
                    class="inputCheckbox2" checked="data.virtualGroup.state_l2"
                    [(ngModel)]="data.virtualGroup.state_l2" />
                  <ng-template #sensorType>
                    <input id="doggo22" type="checkbox" class="inputCheckbox2" checked="data.virtualGroup.active"
                      [(ngModel)]="data.virtualGroup.active" />
                  </ng-template>
                  <label class="toggle-item22" for="doggo22">
                    <div class="dog22">
                      <div class="face22"></div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
  
        <div class="onOff">
          <h2 class="onOffText">Bật/Tắt công tắc 3:</h2>
          <div class="row" class="onOffButton">
            <div class="col">
              <div class="toggle-wrapper23">
                <div class="toggle23 dog-rollover23">
                  <input *ngIf="data.virtualGroup.type !== 'sensor-th'; else sensorType" id="doggo23" type="checkbox"
                    class="inputCheckbox3" checked="data.virtualGroup.state_l3"
                    [(ngModel)]="data.virtualGroup.state_l3" />
                  <ng-template #sensorType>
                    <input id="doggo23" type="checkbox" class="inputCheckbox3" checked="data.virtualGroup.active"
                      [(ngModel)]="data.virtualGroup.active" />
                  </ng-template>
                  <label class="toggle-item23" for="doggo23">
                    <div class="dog23">
                      <div class="face23"></div>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br />
  
      <div *ngIf="0">
        <h2>Đặt lịch bật:</h2>
        <div class="ngx-material-timepicker-example__form-group">
          <input placeholder="12:00 am" aria-label="default time" [ngxTimepicker]="On_picker" readonly />
          <ngx-material-timepicker #On_picker [defaultTime]="'12:00 am'"></ngx-material-timepicker>
        </div>
        <h2>Đặt lịch tắt:</h2>
        <div class="ngx-material-timepicker-example__form-group">
          <input placeholder="12:00 am" aria-label="default time" [ngxTimepicker]="Off_picker" readonly />
          <ngx-material-timepicker #Off_picker [defaultTime]="'12:00 am'"></ngx-material-timepicker>
        </div>
      </div>
        </div> -->
    </div>

    <br>
    <!-- <div class="notification-edit d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status" *ngIf="result.status == 'processing'; else resultTrue">
        </div>
        <ng-template #resultTrue>
            <h4 *ngIf="result.status == true; else resultFalse">Thành công</h4>
            <ng-template #resultFalse>
                <h4 *ngIf="result.status == false">Có lỗi xảy ra, vui lòng thử lại hoặc làm mới</h4>
            </ng-template>
        </ng-template>
    </div>

    <div mat-dialog-actions style="float: right;">
        <button *ngIf="result.status == 'waitting_for_input'" mat-button (click)="onNoClick()">Hủy</button>
        <button *ngIf="result.status == 'waitting_for_input'" mat-button (click)="onYesClick()" cdkFocusInitial>Đồng
            ý</button>
        <button *ngIf="result.status == 'processing'" disabled mat-button>Đồng ý</button>
        <button *ngIf="result.status == false" mat-button (click)="onNoClick()">Đóng</button>
    </div> -->
    <div mat-dialog-actions style="float: right;">
      <button mat-button (click)="onNoClick()">Hủy</button>
      <button mat-button (click)="onYesClick()" cdkFocusInitial>Đồng ý</button>
  </div>
</div>