.navbar-brand-name {
    height: 10vh;
    width:auto;
    margin-left: 20px;
}
.navbar-collapse{
    color:#FF914D
}
a:-webkit-any-link {
    text-decoration: underline;
    text-decoration: none;
    color: aliceblue;
}

button .button-name {
    outline: none;
}
.example-button-row{
    padding-right: 10px;
}
.button-hover{
    font-size: 15px;
    /* font-family: Tahoma; */
}

.button-hover:hover { 
    color: black;
}

/* khi chưa đăng nhập */
.loginButton{
    color: #FF914D;
    font-size: 15px;
    width: 100%;
    min-width: 18vw;
    border: solid #FF914D;
    border-radius: 20px;
}
.loginButton:hover{
    background-color: #FF914D;
    color: white;
    transition-duration: 0.5s;
}

/* khi đã đăng nhập */
.Logined{
    min-width: 18vw;
    border:solid #FF914D;
    text-align: center;
}
.Logined, .userName, .logoutButton{
    background-color: #FF914D;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    text-align: center;
}
.userName{
    min-width: 11vw; /*in case short username*/
}
.userName:hover, .userName>span{
    background-color: white;
    color: #FF914D;
    transition-duration: 0.5s;
}
.logoutButton:hover, .logoutButton>span{
    background-color: white;
    color: #FF914D;
    transition-duration: 0.5s;
}
