<div class="box-email-css justify-content-center">
  <div class="d-flex justify-content-center">
      <img src="../../../assets/email-page/email-check.png" width="30%" alt="">
  </div>
  <div class="title-content">
  <p class="d-flex justify-content-center">Xác minh email của bạn</p>
  </div>
  <div class="box-email-content">
    <p class="d-flex justify-content-center">Mã xác thực đã được gửi đến {{user.email}} </p>
    <p class="d-flex justify-content-center">Sau khi xác thực, bạn có thể đăng nhập.</p>
  </div>

  <!-- <div class="box-code-content">
        <div class="row">
          <div class="col mb-2">
            <input type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
          </div>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="confirmSignUp()" class="btn btn-sm btn-success">
              Confirm
            </button>
            <button type="button" (click)="resendSignUpCode()" class="btn btn-sm btn-success">
              Resend code
            </button>
          </div>
        </div>
    </div> -->


  <form class="confirm-code-form" [formGroup]="information" (ngSubmit)="confirmSignUp()">
    <mat-form-field class="confirm-code-full-width">
      <mat-label>Mã xác thực</mat-label>
      <input matInput type="text" formControlName="code" required autocomplete="off" />
    </mat-form-field>
    
    <div>
      <button class="example-button-row" mat-flat-button type="submit" color="primary" [disabled]="!information.valid">
        Xác thực
      </button>
    </div>
    <div style="margin-top: 20px;">
      <span class="resend-code" (click)="resendSignUpCode()" style="margin-left: 0px;">Gửi lại mã</span>
      <div style="color: red;" *ngIf="isResent == true">
        <div>Đã gửi lại mã</div>
      </div>
    </div>
  </form>

  <div class="box-email-content d-flex justify-content-center" style="color: red; font-size: bold;">
    <div *ngIf="statusConfirm === 'SIGNUP_OK'; else elseBlock">
      <div>Đăng ký tài khoản thành công !!!</div>
    </div>
    <ng-template #elseBlock>
      <div *ngIf="statusConfirm !== ''">{{ statusConfirm.message }}</div>
    </ng-template>
  </div>

    <!-- <div class="login" [routerLink]="['/login']" routerLinkActive="router-link-active">
        <button class="example-button-row" mat-flat-button type="submit" color="primary">
            Đăng nhập
        </button>
    </div> -->
</div>

