<body>
    <div class="background-device-page">
        <!-- <div class="container container2">
            Câu lệnh
            <div class="row">
                <div class="col d-flex flow">
                    <div class="buttons-wrapper">
                        <button mat-flat-button class="seemingly-outer-button button" id="outer"
                            (click)="openDialogControl()">
                            Chào buổi sáng
                        </button>
                        <button mat-flat-button class="seemingly-inner-button button" id="inner"
                            (click)="openDialogAutomationBoard()">
                            <mat-icon>settings</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col d-flex flow">
                    <div class="buttons-wrapper">
                        <button mat-flat-button class="seemingly-outer-button button" id="outer"
                            (click)="openDialogControl()">
                            Ra khỏi nhà
                        </button>
                        <button mat-flat-button class="seemingly-inner-button button" id="inner"
                            (click)="openDialogAutomationBoard()">
                            <mat-icon>settings</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col d-flex flow">
                    <div class="buttons-wrapper">
                        <button mat-flat-button class="seemingly-outer-button button" id="outer"
                            (click)="openDialogControl()">
                            Về nhà
                        </button>
                        <button mat-flat-button class="seemingly-inner-button button" id="inner"
                            (click)="openDialogAutomationBoard()">
                            <mat-icon>settings</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

        <div *ngFor="let group of groups; let j = index">
            <div class="container container1">
                <div class="row">
                    <div>{{ group.friendly_name }}</div>
                    <div class="dieukhienBotton2">
                        <button class="btn-outline-dark btn btn-outline-dark2"
                            (click)="getRowIndex(j); getOtherDevicesRemaining()" data-bs-toggle="modal"
                            data-bs-target="#exampleModalChooseDevices">
                            <mat-icon>add_box</mat-icon>
                        </button>

                        <button class="btn-outline-dark btn btn-outline-dark2"
                            (click)="getRowIndex(j); openDialogRename()">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button class="btn-outline-dark btn btn-outline-dark2" (click)="getRowIndex(j)"
                            data-bs-toggle="modal" data-bs-target="#exampleModalDeleteGroup">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <!-- Modal, choose device -->
                        <div class="modal fade" id="exampleModalChooseDevices" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">
                                            Chọn thiết bị:
                                        </h1>
                                    </div>
                                    <div class="modal-body" style="text-align: left">
                                        <ul style="list-style-type: none; font-size: 18px">
                                            <li *ngFor="let device of selectedDevices; let i = index">
                                                <div *ngIf="device.added == false">
                                                    <input type="checkbox" [(ngModel)]="device.checked" />
                                                    {{ device.topic }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" (click)="cancelRequestChooseDevice()"
                                            data-bs-dismiss="modal">
                                            Hủy
                                        </button>
                                        <button type="button" class="btn" (click)="submitSelectedDevices()"
                                            data-bs-dismiss="modal">
                                            Đồng ý
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal, confirm delete -->
                        <div class="modal fade" id="exampleModalDeleteGroup" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">
                                            Bạn có muốn xóa phòng này không ?
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="text-align: left">
                                        <h2>
                                            Tên phòng:
                                            <span *ngIf="groupAction">{{
                                                groupAction.friendly_name
                                                }}</span>
                                        </h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" (click)="requestDeleteDevice()"
                                            data-bs-dismiss="modal">
                                            Có, hãy xóa
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Hủy
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex" *ngFor="let member of group.members; let i = index">
                        <div class="box">
                            <!-- <div *ngIf="device.type === 'normal-light'"> -->
                            <div *ngIf="member == '1'">
                                <div class="tag-header">
                                    <h2>device.ot_nickname</h2>
                                </div>
                                <div class="tag-content">
                                    <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Đang bật</h2> -->
                                    <!-- <ng-template #elseStateDevice><h2 class="row d-flex"> Đang tắt</h2></ng-template> -->
                                    <!-- <h2 class="row d-flex">Độ sáng: {{device.brightness}}</h2> -->
                                    <h4 class="row d-flex" *ngIf="0; else elseStateDevice">
                                        Đang bật
                                    </h4>
                                    <ng-template #elseStateDevice>
                                        <h4 class="row d-flex">Đang tắt</h4>
                                    </ng-template>
                                </div>
                            </div>

                            <!-- <div *ngIf="device.type === 'switch'"> -->
                            <div *ngIf="member == '2'">
                                <div class="tag-header">
                                    <h2>device.ot_nickname</h2>
                                </div>
                                <div class="tag-content">
                                    <!--  -->
                                    <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Đang bật</h2>
                                        <ng-template #elseStateDevice><h2 class="row d-flex"> Đang tắt</h2></ng-template>
            
                                        <h2 class="row d-flex" *ngIf="device.switch_type==='light'; else elseSwitchType_1">Sử dụng cho: Đèn</h2> -->
                                    <h4 class="row d-flex" *ngIf="1; else elseStateDevice">
                                        Đang bật
                                    </h4>
                                    <ng-template #elseStateDevice>
                                        <h4 class="row d-flex">Đang tắt</h4>
                                    </ng-template>
                                </div>
                            </div>

                            <!-- <div *ngIf="device.type === 'sensor-th'"> -->
                            <div *ngIf="member.model_id === 'WH_SENSOR'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.model_id == member.model_id">
                                        <div class="tag-header">
                                            <h2>{{deviceData.topic}}</h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4 class="row d-flex">
                                                {{ deviceData.temperature }}&ordm;C&emsp;{{
                                                deviceData.humidity
                                                }}%
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div *ngIf="device.type === 'color-light'"> -->
                            <div *ngIf="member.model_id === 'WH_LEDRGB'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.model_id == member.model_id">
                                        <div class="tag-header">
                                            <h2>{{deviceData.topic}}</h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4 class="row d-flex"
                                                *ngIf="deviceData.state === 'ON'; else elseStateDevice">
                                                Đang bật
                                            </h4>
                                            <ng-template #elseStateDevice>
                                                <h4 class="row d-flex">Đang tắt</h4>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div *ngIf="device.type === 'fan'"> -->
                            <div *ngIf="member == '5'">
                                <div class="tag-header">
                                    <h2>device.ot_nickname</h2>
                                </div>
                                <div class="tag-content">
                                    <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice">Đang bật</h2>
                                        <ng-template #elseStateDevice><h2 class="row d-flex"> Đang tắt</h2></ng-template> -->
                                    <h4 class="row d-flex" *ngIf="1; else elseStateDevice">
                                        Đang bật
                                    </h4>
                                    <ng-template #elseStateDevice>
                                        <h4 class="row d-flex">Đang tắt</h4>
                                    </ng-template>
                                </div>
                            </div>

                            <!-- <div *ngIf="device.type === 'lock'"> -->
                            <div *ngIf="member == '6'">
                                <div class="tag-header">
                                    <h2>device.ot_nickname</h2>
                                </div>
                                <div class="tag-content">
                                    <!-- <h2 class="row d-flex" *ngIf="device.state; else elseStateDevice"> Đang khóa</h2> -->
                                    <h4 class="row d-flex" *ngIf="1; else elseStateDevice">
                                        Đang bật
                                    </h4>
                                    <ng-template #elseStateDevice>
                                        <h4 class="row d-flex">Đang tăt</h4>
                                    </ng-template>
                                </div>
                            </div>
                            <div class="dieukhienBotton">
                                <button id="dieukhienBotton" mat-flat-button
                                    (click)="getBoxIndex(j, i); openDialogControl()">
                                    <mat-icon id="dieukhienBotton">info</mat-icon>
                                </button>
                                <button class="btn btn-outline-dark" data-bs-toggle="modal" (click)="getBoxIndex(j, i)"
                                    data-bs-target="#exampleModalDeleteDevice">
                                    <mat-icon>delete</mat-icon>
                                </button>

                                <!-- Modal, confirm delete -->
                                <div class="modal fade" id="exampleModalDeleteDevice"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static"
                                    data-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title" id="exampleModalLabel">
                                                    Bạn có muốn xóa thiết bị này không ?
                                                </h1>
                                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button> -->
                                            </div>
                                            <div class="modal-body" style="text-align: left">
                                                <h2>
                                                    Loại thiết bị:
                                                    <span *ngIf="deviceAction">{{
                                                        deviceAction.topic
                                                        }}</span>
                                                </h2>
                                                <h2>
                                                    Tên phòng:
                                                    <span *ngIf="groupAction">{{
                                                        groupAction.friendly_name
                                                        }}</span>
                                                </h2>
                                                <input type="checkbox" [(ngModel)]="delInAllGroup" />
                                                Xoá thiết bị này khỏi tất cả các phòng
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="requestDeleteDevice()" data-bs-dismiss="modal">
                                                    Có, hãy xóa
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                    (click)="cancelRequestDeleteDevice()" data-bs-dismiss="modal">
                                                    Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container2">
            <div class="device_adding_icon box" (click)="openDialogNameNewGroup()">
                <button mat-flat-button id="timer">
                    <mat-icon id="element1">add_box</mat-icon>
                    <div id="element2">thêm phòng mới</div>
                </button>
            </div>
        </div>
    </div>
</body>