<body>
    <div class="background-device-page">
        <div class="container container2">
            Câu lệnh
            <div class="row">
                <div class="col d-flex flow" *ngFor="let scene of scenes; let i = index">
                    <div class="buttons-wrapper">
                        <button mat-flat-button class="seemingly-outer-button button" id="outer"
                            (click)="runScene(scene)">
                            {{scene.name}}
                        </button>
                        <button mat-flat-button class="seemingly-inner-button button" id="inner"
                            (click)="openDialogceneInfo(scene)">
                            <mat-icon>info</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col d-flex flow">
                    <div class="buttons-wrapper">
                        <div (click)="openDialogCreateNewScene()">
                            <button mat-flat-button class="seemingly-outer-button button" id="outer">
                                <mat-icon>add_box</mat-icon>
                                <span> Thêm câu lệnh mới</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngFor="let group of groups; let j = index">
            <div class="container container1">
                <div class="row">
                    <div>{{ group.friendly_name }}</div>
                    <div class="dieukhienBotton2">
                        <button class="btn-outline-dark btn btn-outline-dark2"
                            (click)="getRowIndex(j); openDialogGroupControl()">
                            <mat-icon>info</mat-icon>
                        </button>
                        <button class="btn-outline-dark btn btn-outline-dark2"
                            (click)="getRowIndex(j); getOtherDevicesRemaining()" data-bs-toggle="modal"
                            data-bs-target="#exampleModalChooseDevices">
                            <mat-icon>add_box</mat-icon>
                        </button>

                        <button class="btn-outline-dark btn btn-outline-dark2"
                            (click)="getRowIndex(j); openDialogRename()">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button class="btn-outline-dark btn btn-outline-dark2" (click)="getRowIndex(j)"
                            data-bs-toggle="modal" data-bs-target="#exampleModalDeleteGroup">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <!-- Modal, choose device -->
                        <div class="modal fade" id="exampleModalChooseDevices" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">
                                            Chọn thiết bị:
                                        </h1>
                                    </div>
                                    <div class="modal-body" style="text-align: left">
                                        <ul style="list-style-type: none; font-size: 18px">
                                            <li *ngFor="let device of selectedDevices; let i = index">
                                                <div
                                                    *ngIf="device.model_id != 'WH_SWITCH4' &&  device.model_id != 'ZM-L03E-Z'">
                                                    <span *ngIf="device.added == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked" />
                                                        {{ device.name }}
                                                    </span>
                                                </div>
                                                <div *ngIf="device.model_id == 'WH_SWITCH4'">
                                                    <span *ngIf="device.added_endpoint1 == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked_endpoint1" />
                                                        {{ device.name }}/1
                                                        <br />
                                                    </span>
                                                    <span *ngIf="device.added_endpoint2 == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked_endpoint2" />
                                                        {{ device.name }}/2
                                                        <br />
                                                    </span>
                                                    <span *ngIf="device.added_endpoint3 == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked_endpoint3" />
                                                        {{ device.name }}/3
                                                        <br />
                                                    </span>
                                                    <span *ngIf="device.added_endpoint4 == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked_endpoint4" />
                                                        {{ device.name }}/4
                                                        <br />
                                                    </span>
                                                </div>
                                                <div *ngIf="device.model_id == 'ZM-L03E-Z'">
                                                    <span *ngIf="device.added_endpoint1 == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked_endpoint1" />
                                                        {{ device.name }}/1
                                                        <br />
                                                    </span>
                                                    <span *ngIf="device.added_endpoint2 == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked_endpoint2" />
                                                        {{ device.name }}/2
                                                        <br />
                                                    </span>
                                                    <span *ngIf="device.added_endpoint3 == false">
                                                        <input type="checkbox" [(ngModel)]="device.checked_endpoint3" />
                                                        {{ device.name }}/3
                                                        <br />
                                                    </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" (click)="cancelRequestChooseDevice()"
                                            data-bs-dismiss="modal">
                                            Hủy
                                        </button>
                                        <button type="button" class="btn" (click)="submitSelectedDevices()"
                                            data-bs-dismiss="modal">
                                            Đồng ý
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal, confirm delete -->
                        <div class="modal fade" id="exampleModalDeleteGroup" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" data-bs-backdrop="static" data-keyboard="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">
                                            Bạn có muốn xóa phòng này không ?
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="text-align: left">
                                        <h2>
                                            Tên phòng:
                                            <span *ngIf="groupAction">{{
                                                groupAction.friendly_name
                                                }}</span>
                                        </h2>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" (click)="requestDeleteRoom()"
                                            data-bs-dismiss="modal">
                                            Có, hãy xóa
                                        </button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Hủy
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col d-flex" *ngFor="let member of group.members; let i = index">
                        <div class="box">
                            <div class="tag-header" *ngIf="!member.name">
                                <h2>Thiết bị ngoại tuyến</h2>
                            </div>

                            <div *ngIf="member.model_id === 'WH_SENSOR'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.ieee_address== member.ieee_address">
                                        <div class="tag-header">
                                            <h2>{{deviceData.name}}</h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4 class="row d-flex">
                                                {{ deviceData.temperature }}&ordm;C&emsp;{{
                                                deviceData.humidity
                                                }}%
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="member.model_id === 'TS0203'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.ieee_address== member.ieee_address">
                                        <div class="tag-header">
                                            <h2>{{deviceData.name}}</h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4 class="row d-flex" *ngIf="deviceData.contact; else elseContact">
                                                Cửa đóng
                                            </h4>
                                            <ng-template #elseContact>
                                                <h4 class="row d-flex ">Cửa mở</h4>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="member.model_id === 'SNZB-01'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.ieee_address== member.ieee_address">
                                        <div class="tag-header">
                                            <h2>{{deviceData.name}}</h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4 class="row d-flex">
                                                {{ deviceData.action }}
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div *ngIf="member.model_id === 'WH_LEDRGB' || member.model_id === 'TS0505B' || member.model_id === 'WH_LEDTEMP'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.ieee_address== member.ieee_address">
                                        <div class="tag-header">
                                            <h2>{{deviceData.name}}</h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4 class="row d-flex"
                                                *ngIf="deviceData.state === 'ON'; else elseStateDevice">
                                                Đang bật
                                            </h4>
                                            <ng-template #elseStateDevice>
                                                <h4 class="row d-flex">Đang tắt</h4>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="member.model_id === 'WH_SWITCH4'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.ieee_address== member.ieee_address">
                                        <div class="tag-header">
                                            <h2>{{deviceData.name}}/{{member.endpoint}} </h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4>
                                                <span *ngIf="member.endpoint == 1">
                                                    <span *ngIf="deviceData.state_l1 === 'ON'; else elseStateDevice">
                                                        Bật</span>
                                                </span>
                                                <span *ngIf="member.endpoint == 2">
                                                    <span *ngIf="deviceData.state_l2 === 'ON'; else elseStateDevice">
                                                        Bật</span>
                                                </span>
                                                <span *ngIf="member.endpoint == 3">
                                                    <span *ngIf="deviceData.state_l3 === 'ON'; else elseStateDevice">
                                                        Bật</span>
                                                </span>
                                                <span *ngIf="member.endpoint == 4">
                                                    <span *ngIf="deviceData.state_l4 === 'ON'; else elseStateDevice">
                                                        Bật</span>
                                                </span>
                                            </h4>
                                            <h4>
                                                <ng-template #elseStateDevice>
                                                    <span>Tắt </span>
                                                </ng-template>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="member.model_id === 'ZM-L03E-Z'">
                                <div *ngFor="let deviceData of devicesData">
                                    <div *ngIf="deviceData.ieee_address== member.ieee_address">
                                        <div class="tag-header">
                                            <h2>{{deviceData.name}}/{{member.endpoint}}</h2>
                                        </div>
                                        <div class="tag-content">
                                            <h4>
                                                <span *ngIf="member.endpoint == 1">
                                                    <span *ngIf="deviceData.state_left === 'ON'; else elseStateDevice">
                                                        Bật</span>
                                                </span>
                                                <span *ngIf="member.endpoint == 2">
                                                    <span
                                                        *ngIf="deviceData.state_center === 'ON'; else elseStateDevice">
                                                        Bật</span>
                                                </span>
                                                <span *ngIf="member.endpoint == 3">
                                                    <span *ngIf="deviceData.state_right === 'ON'; else elseStateDevice">
                                                        Bật</span>
                                                </span>
                                            </h4>
                                            <h4>
                                                <ng-template #elseStateDevice>
                                                    <span>Tắt </span>
                                                </ng-template>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dieukhienBotton" *ngIf="!!member.name">
                                <button id="dieukhienBotton" mat-flat-button
                                    (click)="getBoxIndex(j, i); openDialogControl()">
                                    <mat-icon id="dieukhienBotton">info</mat-icon>
                                </button>
                                <button class="btn btn-outline-dark" data-bs-toggle="modal" (click)="getBoxIndex(j, i)"
                                    data-bs-target="#exampleModalDeleteDevice">
                                    <mat-icon>delete</mat-icon>
                                </button>

                                <!-- Modal, confirm delete -->
                                <div class="modal fade" id="exampleModalDeleteDevice"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static"
                                    data-keyboard="false">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title" id="exampleModalLabel">
                                                    Bạn có muốn xóa thiết bị này không ?
                                                </h1>
                                                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button> -->
                                            </div>
                                            <div class="modal-body" style="text-align: left">
                                                <h2>
                                                    Loại thiết bị:
                                                    <span *ngIf="deviceAction">
                                                        <span
                                                            *ngIf="deviceAction.model_id != 'WH_SWITCH4' &&  deviceAction.model_id != 'ZM-L03E-Z'; else elseSwitchDevice">
                                                            {{deviceAction.name}}
                                                        </span>
                                                        <ng-template #elseSwitchDevice>
                                                            {{deviceAction.name}}/{{deviceAction.endpoint}}
                                                        </ng-template>
                                                    </span>
                                                </h2>
                                                <h2>
                                                    Tên phòng:
                                                    <span *ngIf="groupAction">{{groupAction.friendly_name}}</span>
                                                </h2>
                                                <input id="delInAllGroup" type="checkbox" [(ngModel)]="delInAllGroup" />
                                                <label for="delInAllGroup">Xoá thiết bị này khỏi tất cả các
                                                    phòng</label><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="requestDeleteDevice()" data-bs-dismiss="modal">
                                                    Có, hãy xóa
                                                </button>
                                                <button type="button" class="btn btn-secondary"
                                                    (click)="cancelRequestDeleteDevice()" data-bs-dismiss="modal">
                                                    Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container container2">
            <div class="device_adding_icon box" (click)="openDialogNameNewGroup()">
                <button mat-flat-button id="timer">
                    <mat-icon id="element1">add_box</mat-icon>
                    <div id="element2">thêm nhóm mới</div>
                </button>
            </div>
        </div>
    </div>
</body>