<!-- <div class="background-home">
    <div class="body-content">
        <div class="container jss01-content">
            <div class="jss01-content-001">
                <h1>Warm<span>House</span></h1>
                <h2>Giải pháp công nghệ cho những ngôi nhà thông minh</h2><br>
                <h2 style="color: rgb(45, 83, 128); font-family: Lora;">Phát triển công nghệ trên lĩnh vực thiết bị dân dụng,
                    giải pháp công nghệ tiên tiến điều khiển thiết bị, giám sát cảm biến môi trường trong gia đình bạn.</h2>
            </div>
        </div>
        <div class="container-fluid">
            <div class="jss02-content">
                <div class="row">
                    <div class="col">
                        <div class="farm-information">
                            <div class="farm-information-001">
                                <img src="../../../assets/home-page/man-hinh.png" alt="website" width="70%"
                                style="padding-top: 20%;">
                            </div>
                            <div class="farm-information-002">
                                <span class="technology-title">Trang web</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="farm-information">
                            <div class="farm-information-001">
                                <img src="../../../assets/home-page/iphone.png" alt="website" width="32%"
                                    style="padding-top: 20%;">
                            </div>
                            <div class="farm-information-002">
                                <span class="technology-title">Ứng dụng di động</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="farm-information">
                            <div class="farm-information-001">
                                <img src="../../../assets/home-page/google-assisstant.png" alt="website" width="70%"
                                    style="padding-top: 20%;">
                            </div>
                            <div class="farm-information-002">
                                <span class="technology-title">Google assistant</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="farm-information">
                            <div class="farm-information-001">
                                <img src="../../../assets/home-page/board.png" alt="website" width="70%"
                                    style="padding-top: 30%;">
                            </div>
                            <div class="farm-information-002">
                                <span class="technology-title">Mạch điện</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="jss02-content-001">
                    <div class="row">
                        <div class="col-6">
                            <div class="footer-box" id="box-001">
                                <h1>Warm<span>House</span></h1>
                                <span class="script-contract">Hãy cùng đội ngũ Warm House góp phần xây dựng
                                    nên những căn nhà mơ ước. Hãy để những ý tưởng của bạn bay cùng chúng tôi.
                                    Warm House - Your House Your Style</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-box" id="box-002">
                                <h1>Chính <span>sách</span></h1>
                                <ul>
                                    <li><a href="#">Khuyến mãi</a></li>
                                    <li><a href="#">Lắp đặt</a></li>
                                    <li><a href="#">Bảo hành</a></li>
                                    <li><a href="#">Đổi trả</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col">
                            <div class="footer-box" id="box-003">
                                <h1>Liên hệ</h1>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon style="color: rgb(87, 235, 74);">phone</mat-icon>
                                    </div>
                                    <div class="col-11"><span>(+84)39-183-882</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon style="color: blanchedalmond;">email</mat-icon>
                                    </div>
                                    <div class="col-11"><span>warmhouse@gmail.com</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-1">
                                        <mat-icon style="color: rgb(233, 248, 25);"> place</mat-icon>
                                    </div>
                                    <div class="col-11"><span>Trường ĐH Công nghệ Thông tin</span></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="coppyright-warmhouse">Bản quyền ©2020 Tất cả được bảo vệ | Trang web này thuộc về WarmHouse</span>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->

<body>
    <div id="content">
        <div id="left">
            <img id="logo-lite" src="../../../assets/logo/warmhouse-lite.png">
            <div id="description">Giải pháp Nhà thông minh (Smart Home Solution) là sự thiết kế các thiết bị nhà thông minh (Smart Home Devices) theo nhu cầu của chủ nhà, nhằm kết nối và điều khiển các thiết bị điện trong nhà như đèn chiếu sáng, rèm cửa, bình nước nóng, Tivi, điều hòa…
            </div>
        </div>
        <div id="right">
            <img id="bg" src="../../../assets/home-page/background.jpg">
        </div>
    </div>
    <div id="footer">Copyright &copy; 2021 by WarmHouse Team</div>
</body>