.example-form {
  min-width: 100px;
  max-width: 300px;
  width: 100%;
  /* text-align: center; */
}

.example-full-width {
  width: 100%;
}

.title-standee {
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 35px;
  width: 100%;
  /* font-weight: bold; */
}

.example-button-row {
  width: 100%;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.forgetPass-login {
  /* font-style: italic; */
  font-size: 15px;
}

.forgetPass-login:hover {
  color: red;
  cursor: pointer;
  transition: 0.4s; /* tạo độ trễ cho hover */
}

.notify-status {
  margin-top: 20px;
  color: red;
  /* font-family: Lora; */
}
#content{
  width: 50vw;
  height: 50vh;
  margin: 15vh auto;
  
}
#left {
  float: left;
  width: 50%;
  text-align: right;
}
#right {
  overflow: hidden;
  width: 50%;
  padding-top: 40px;
  padding-left: 50px;
}
