<div class="container">
    <table class="table">
        <thead>
            <tr *ngIf="numberDeviceShare !== 0">
                <th colspan="7">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                              <button class="accordion-button collapsed" mat-raised-button type="button"matBadge="{{ numberDeviceShare }}" matBadgeColor="warn"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h3>Lời mời chia sẻ thiết bị</h3>
                              </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                <div *ngFor="let index of listdeviceIdShareRequest; let emlement=index">
                                    <h3>Bạn nhận được lời mời chia sẻ thiết bị <span>{{index}}</span> từ email <span>{{listEmailShareRequest[emlement]}}</span> bạn có đồng ý hay không ?</h3>
                                    <div class="row">
                                        <div class="col-6">
                                            <button mat-menu-item (click)="replyDemand(index, 'accept', 0)">Đồng ý</button>
                                        </div>
                                        <div class="col-6">
                                            <button mat-menu-item (click)="replyDemand(index, 'refuse', emlement)">Từ chối</button>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
            <tr>
                <th colspan="7" class="title-table">Thông tin quản lý thiết bị</th>
            </tr>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên thiết bị</th>
                <th scope="col">Mã thiết bị</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Chia sẻ</th>
                <th scope="col">Chỉnh sửa</th>
                <th scope="col">Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let device of devices; let i=index">
                <th scope="row">{{i + 1}}</th>

                <td>{{device.ot_nickname}}</td>

                <td>{{device.deviceId}}</td>

                <td *ngIf="device.state && device.type !== 'sensor-th'; else stateOff">Đang bật</td>
                <ng-template #stateOff>
                    <td *ngIf="device.type !== 'sensor-th'; else sensorTypeOn">Đang tắt</td>
                    <ng-template #sensorTypeOn>
                        <td *ngIf="device.stream.active && device.type == 'sensor-th'; else sensorTypeOff">Kích hoạt</td>
                        <ng-template #sensorTypeOff>
                            <td *ngIf="device.type == 'sensor-th'">Đang tắt</td>
                        </ng-template>
                    </ng-template>
                </ng-template>

                <!-- <div *ngIf="device.type !== 'sensor-th'; elseSensorType">
                    <td *ngIf="device.state; else stateOff">Đang bật</td>
                    <ng-template #stateOff><td>Đang tắt</td></ng-template>
                </div>
                <ng-template #elseSensorType>
                    <td *ngIf="device.stream.active && device.type == 'sensor-th'">Đang bật</td>
                    <ng-template #stateOff><td>Đang tắt</td></ng-template>
                </ng-template> -->

                <td>
                    <button *ngIf="ownerships[i] !== 'guest'; else elseBtnShare" class="btn btn-outline-primary" type="button" (click)="openDialog(device, 'share')">
                        <mat-icon>share</mat-icon>
                    </button>
                    <ng-template #elseBtnShare>
                        <button class="btn btn-outline-primary" type="button" (click)="openDialog(device, 'share')" disabled><mat-icon>share</mat-icon></button>
                    </ng-template>
                </td>

                <td>
                    <button *ngIf="ownerships[i] !=='guest'; else elseBtnEdit" class="btn btn-outline-primary" (click)="openDialog(device, 'edit')"><mat-icon>edit</mat-icon></button>
                    <ng-template #elseBtnEdit>
                        <button class="btn btn-outline-primary" disabled><mat-icon>edit</mat-icon></button>
                    </ng-template>
                </td>

                <td>
                    <button *ngIf="ownerships[i] !=='guest'; else elseBtnDelete" class="btn btn-outline-dark" (click)="handleDevice(device)" data-bs-toggle="modal" data-bs-target="#exampleModalDeleteDevice"><mat-icon>delete</mat-icon></button>
                    <ng-template #elseBtnDelete>
                        <button class="btn btn-outline-dark" disabled><mat-icon>delete</mat-icon></button>
                    </ng-template>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalDeleteDevice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="exampleModalLabel">Bạn có muốn xóa thiết bị này không ?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h2>Loại thiết bị: <span style="color: brown;">{{deviceAction.ot_nickname}}</span></h2>
                                    <h2>Mã thiết bị: <span style="color: brown;">{{deviceAction.deviceId}}</span></h2>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" (click)="requestDeleteDevice()" data-bs-dismiss="modal">Có, hãy xóa</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</div>
