.tag-header {
  text-align: center;
}

.tag-header h1 {
  font-weight: bold;
  color: #FF914D;
  margin: 0px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  margin-top : 20px; 
  margin-bottom: 20px;
}

.notification-share h4 {
  color: #FF914D;
  font-size: 16px;
  /* font-style: italic; */
}